<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453374971791-vhde7dnjiu5dev013vp9m9b6ahe3hnpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453374971791-vhde7dnjiu5dev013vp9m9b6ahe3hnpr</string>
	<key>API_KEY</key>
	<string>AIzaSyAl8DIZNHVdesn51yYo6aIvPdHh-wtq_z4</string>
	<key>GCM_SENDER_ID</key>
	<string>453374971791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.product.MachingApp</string>
	<key>PROJECT_ID</key>
	<string>matchingapp-964cf</string>
	<key>STORAGE_BUCKET</key>
	<string>matchingapp-964cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453374971791:ios:25f210cdd17b2f030a45fa</string>
</dict>
</plist>